body {
    background-color: #6F1118;
    background-image: url(IMAGES/redfkom.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}
/* navigation */
.topbar {
  width: 100%;
  background-color: white;
}
.topbar ul {
    background-color: white;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.topbar li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.topbar li a {
    display: inline-block;
    padding-top: 10px;
}

.container {
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.sidebar {
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  background-color: #f0f0f0; /* Soft grey */
  color: #333;
  padding: 1rem;
  margin-bottom: 0%;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  margin-bottom: 0.5rem;
}
.sidebar ul li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.sidebar ul li a:hover {
  background-color: #d9d9d9;
}

/* content */
p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #34404c;
  text-align: left;
  font-weight: bold;
  font-size: 25px;
  padding: 2px;
  margin: 0px;
  margin-bottom: 15px;
}
.box1 {
  width: 75%;
  border-radius: 25px;
  background: white;
  align-content: left;
  padding: 30px; 
  margin: auto;
  margin-top: 5%;
}
.box1 p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
form {
  padding: 25px;
  margin: auto;
  border: 1px solid #cbcbcb;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.button {
  background-color: #912a15;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=time], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  padding-right: 10px;
  width: 100%;
}
.qr img {
  padding: 10px;
  border: 1px solid #cbcbcb;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.qr {
  margin-top: 20px;
  align-content: center;
  text-align: center;
}
.qr button {
  background-color: #23beee;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-top: 5px;
}

/* footer */
footer p {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  padding: 10px;
  text-align: center;
  color: black;
  font-size: small;
  margin-bottom: 0%;
}
footer {
  margin-top: auto;
  margin-bottom: 0%;
}

